/* FeedbackForm.css */

.feedback-form {
    width: 70%;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-family: Arial, sans-serif;
  }
  
  .mandatory {
    color: red;
    margin-left: 5px; /* Add some spacing between the question text and the asterisk */
  }

  .feedback-form h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .question {
    margin-bottom: 15px;
  }
  
  .question p {
    font-size: 12px;
    position: relative;
  }
  
  .star-ratings {
    margin-top: 10px;
  
    .star {
      color: #ddd;
      cursor: pointer;
      font-size: 20px;
  
      &.selected {
        color: #f6b93b; /* Highlighted star color */
      }
    }
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* User Comments */
    .user-comments {
        margin-top: 20px;
        font-size: 12px;
        padding-bottom: 5px; /* Add some spacing between questions and comments */
    }
  
    .user-comments textarea {
      width: 100%; /* Make the textarea responsive by using 100% width */
      padding: 10px;
      font-size: 10px; /* Reduce the font size by 2 points */
      max-width: 100%; /* Ensure the textarea doesn't exceed its parent's width */
      box-sizing: border-box; /* Include padding and borders in the element's total width */
    }
 
  